@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/custom.css */
body {
  background-image: url(''); /* Set the path to your image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* You can also set other background properties as needed */
}

